.header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    background-color: #183D3D;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    width: 50%;
    padding: 20px;
    font-weight: 600;
    font-size: 2em;
}

.link:hover {
    background-color: #143131;
    color: #93B1A6;
}

.line {
    background-color: #040D12;
    width: 2px;
}